GEMINI_API_KEY="YOUR_API_KEY_HERE"
SERPER_API_KEY = "YOUR_API_KEY_HERE"
APIFY_API_TOKEN = "YOUR_API_KEY_HERE"
HF_TOKEN="YOUR_API_KEY_HERE" #huggingface
PUBLISH_WEBHOOK_URL="YOUR_API_KEY_HERE"
IMGBB_API_KEY = "YOUR_API_KEY_HERE"